<?xml version="1.0" encoding="UTF-8"?>
<context name="tests" locale="es" layer="development">
    <layer name="development,production">
        <!-- Locale -->
        <driver type="Sketch\Locale\Translator\Driver" class="GetTextLocaleTranslatorDriver">
            <folder>/locale</folder>
            <domain>default</domain>
        </driver>
        <!-- Sketch Response Filter Extension -->
        <extension type="Sketch\Response\Filter\Filter" class="Sketch\Response\Filter\TemplateFilter">
            <layout for="C:">tests</layout>
        </extension>
        <parameters for="library" name="Application.php">
            <send-exceptions-to>
                <email-address>marcos.ac@gmail.com</email-address>
            </send-exceptions-to>
        </parameters>
    </layer>
    <layer name="development">
        <!-- <driver type="ResourceConnectionDriver" class="Sketch\ResourceConnectionDriverMySQL">
            <table-prefix>gbook</table-prefix>
            <host>127.0.0.1</host>
            <database>gbook</database>
            <user>root</user>
            <password>570tnky1</password>
        </driver> -->
        <extension type="Sketch\Response\Filter\Filter" class="Sketch\Response\Filter\FirebugFilter">
            <debug-level>3</debug-level>
        </extension>
    </layer>
    <layer name="production">
        <driver type="Sketch\Response\Filter\Filter" class="Sketch\Resource\Connection\Driver\MySQLDriver">
            <table-prefix>gbook</table-prefix>
            <host>127.0.0.1</host>
            <database>gbook</database>
            <user>root</user>
            <password>570tnky1</password>
        </driver>
    </layer>
</context>